/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e67e22;
}

marquee {
  font-size: 50px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.1);

  /* horizotal vertical blur */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 30%;
  /* background-color: black; */
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  font-family: "Potta One", cursive;
  color: black;
  font-size: 20px;
  transition: 0.5s;
}

nav ul li a:hover {
  color: whitesmoke;
}

/* HAMBURGER MENU */

.hamburger-menu {
  display: none;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
  align-self: center;
  position: relative;
}

.hamburger-menu input {
  position: absolute;
  width: 40px;
  height: 30px;
  left: -5px;
  top: -2px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.hamburger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: 0.5s;
}

/* HAMBURGER MENU ANIMATION */
.hamburger-menu span:nth-child(2) {
  /* transform-origin ( sumbu x y (dalam %) ) */
  transform-origin: 0 0;
}

.hamburger-menu span:last-child {
  transform-origin: 0 100%;
}

.hamburger-menu input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(0px, 0px);
}

.hamburger-menu input:checked ~ span:nth-child(3) {
  display: none;
}

.hamburger-menu input:checked ~ span:last-child {
  transform: rotate(-45deg) translate(1px, -1px);
}

/* RESPONSIVE NAVBAR */

/* medium : for tablet device */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* small : for mobile device */
@media screen and (max-width: 576px) {
  nav ul {
    /* display: none; */
    position: absolute;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
    z-index: -1;
    transform: translateY(0%);
    transition: 1s;
  }

  nav ul.top-slider {
    transform: translateY(-100%);
  }

  .hamburger-menu {
    display: flex;
  }
}
