/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e67e22;
}

marquee {
  font-size: 50px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.1);

  /* horizotal vertical blur */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 30%;
  /* background-color: black; */
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  font-family: "Potta One", cursive;
  color: black;
  font-size: 20px;
  transition: 0.5s;
}

nav ul li a:hover {
  color: whitesmoke;
}

/* HAMBURGER MENU */

.hamburger-menu {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  align-self: center;
}

.hamburger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
}

/* RESPONSIVE NAVBAR */

/* medium : for example in tablet device */
@media screen and (max-width: 940px) {
  nav ul {
    width: 50%;
  }
}

/* small : for example in mobile device */
@media screen and (max-width: 576px) {
  nav ul {
    display: none;
  }
}
